
.DS_Store
Thumbs.db

.idea/
*.iml
out/

target/
*.log

*.class

application.yml
application-*.yml

!application-example.yml

docker-compose.yml

!docker-compose.exm.yml

.env
.env.*
*.env

logs/
*.out

tmp/
temp/
*.tmp

*.db
*.sqlite

*.pid
*.seed
*.pid.lock